#window {
    border: 3px solid #202124;
	border-radius: 5px;
	background-color: #202124;
	font-size: 18px;
	font-family: "Iosevka Term SS03 Medium";
	text-color: #FFFFFF;
}

#outer-box {
	margin: 3px;
}

#input {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	color: white;
	margin: 3px;
}

#input image:first-child {
	margin-left: -100px;
}

#input image:last-child {
	margin-right: -100px;
}

#input:focus {
	border-radius: 0;
}

#entry {
	color: white;
}

#entry:selected {
	background-color: #90234E;
}

#text:selected {
	color: --wofi-color1;
}

#img {
	margin-right: 5px;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#text {
	margin-left: 3px;
}
